<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% for html_name, page_name in pages %}
      <li class="nav-item {% if html_name == current_file %} active {% endif %}">
        <a class="nav-link" href="{{ html_name }}.html">{{ page_name }}</a>
      </li>
      {% endfor %}
  </div>
</nav>
