{% extends "base.html.j2" %}
{% block title %}Security weaknesses for Ansible project "{{ project_name }}"{% endblock %}
{% block content %}
  <div id="accordion">
    {% for smell in smells %}
    {% set idx = loop.index %}
    <div class="card">
      <div class="card-header" id="heading-{{ idx }}">
        <h5 class="mb-0">
          <a class="btn btn-link" href="#{{ idx }}" data-toggle="collapse" data-target="#{{ idx }}" aria-expanded="true" aria-controls="{{ idx }}">
            <span class="badge badge-secondary">{{ smell.code }}</span> {{ smell.summary }}
          </a>
        </h5>
      </div>

      <div id="{{ idx }}" class="collapse" aria-labelledby="heading-{{ idx }}" data-parent="#accordion">
        <div class="card-body">
          {{ smell.explanation }}<br/>
          Location: <tt>{{ smell.location }}</tt>
          <pre data-line-offset="{{ smell.text_start }}" data-line="{{ smell.text_line }}"><code class="language-yaml">
            {{- smell.text | e -}}
          </code></pre>
          {% if smell.hint_location %}
          {{ smell.hint_text }}: <tt>{{ smell.hint_location }}</tt><br/>
          <pre data-line-offset="{{ smell.hint_code_start }}" data-line="{{ smell.hint_code_line }}"><code class="language-yaml">
            {{- smell.hint_code_text | e -}}
          </code></pre>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>
{% endblock %}
