.DS_Store
.coverage*
.hypothesis
htmlcov
out
__pycache__
dist
.ipynb_checkpoints
cache/*
# TODO: Below should be generated automatically and not included in git repo.
!cache/collection_content.json
.metals
